*.exe
*.o
.deps
*~
*.swp
*.swo

/.gdb_history
/construct_mohawk
/create_sjisfnt
/decine
/decompile
/degob
/dekyra
/deprince
/descumm
/desword2
/extract_hadesch_img
/extract_mohawk
/extract_gob_cdi
/extract_ngi
/gob_loadcalc
/grim_*
/msn_convert_mod
/pegasus_save_types
/ScummVM Tools.app
/scummvm-tools
/scummvm-tools-cli
/sword2_clue
/\!ScummTool
/*,e1f
/config.mk
/config.h
/config.log
/extract_hadesch
/extract_lokalizator

/decompiler/doc/doc.pdf

/decompiler/test/runner
/decompiler/test/runner.cpp
/decompiler/test/*.dSYM

/build

#Ignore Visual Studio build-related files
/dists/msvc*/[Dd]ebug*/
/dists/msvc*/[Rr]elease*/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
obj/
_ReSharper*/
ipch/
[Tt]est[Rr]esult*
*.vcproj
*.sln
*.vsprops
*.props
*.vcxproj*
*.bat
*.tss
.vscode

#Ignore Mac DS_Store files
.DS_Store

#Ignore Jetbrains CLion IDE files
.idea
