*.exe
*.o
.deps
*~
*.swp
*.swo

/.gdb_history
/construct_mohawk
/create_sjisfnt
/decine
/decompile
/degob
/dekyra
/deriven
/descumm
/desword2
/extract_mohawk
/gob_loadcalc
/ScummVM Tools.app
/scummvm-tools
/scummvm-tools-cli
/config.mk
/config.h
/config.log

/decompiler/doc/doc.pdf

/decompiler/test/runner
/decompiler/test/runner.cpp
/decompiler/test/*.dSYM

/build

#Ignore Visual Studio build-related files
/dists/msvc*/[Dd]ebug*/
/dists/msvc*/[Rr]elease*/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
obj/
_ReSharper*/
ipch/
[Tt]est[Rr]esult*
*.vcproj
*.sln
*.vsprops
*.props
*.vcxproj*
*.bat
*.tss
